# Zależności Sphinx
sphinx==4.5.7  # Wersja Sphinx kompatybilna z Pythonem 3.8
sphinx-rtd-theme==1.0.0  # Temat Read the Docs
recommonmark==0.7.1  # Obsługa Markdown w Sphinx
docutils==0.17.1  # Obsługa reStructuredText

