alabaster
attrs
babel
beautifulsoup4
bleach
certifi
charset-normalizer
defusedxml
docutils
fastjsonschema
idna
imagesize
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
mistune
nbclient
nbconvert
nbformat
nbsphinx
packaging
pandocfilters
platformdirs
Pygments
python-dateutil
pyzmq
referencing
requests
rpds-py
six
snowballstemmer
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tinycss2
tornado
traitlets
typing_extensions
urllib3
webencodings
